<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <h2>All Users</h2>
    <table>
        <tr>
            <th>Username</th><th>Actions</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.userName}"></td>
            <td><a href="/user/view?id=${user.id}">View</a></td>
        </tr>
    </table>

</body>
</html>