<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css' />

    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AMA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Left menu -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="/ama">Ongoing AMAs <span class="sr-only">(current)</span></a></li>
                <li><a href="/ama">Completed AMAs</a></li>
                <li><a href="#">Following</a></li>
            </ul>

            <a role="button" class="navbar-btn btn btn-default btn-xl" href="/ama/new">Submit an AMA</a>

            <!-- Right menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hello, ### <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Preferences</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right form-inline" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" />
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div th:replace="${view} :: content">
        Content
    </div>

    <div class="text-right">
        <small>Copyright Adam Batson, Richard Carson, Max DeMelo, 2016</small>
    </div>
</div>

<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>