<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href="/assets/css/ama.css" />

    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AMA Tool</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Left menu -->
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'index'}?active">
                    <a href="/">Ongoing AMAs <span th:if="${page == 'index'}" class="sr-only">(current)</span></a>
                </li>
                <li th:classappend="${page == 'completed'}?active">
                    <a href="/completed">Completed AMAs <span th:if="${page == 'completed'}" class="sr-only">(current)</span></a>
                </li>
                <li th:if="${user != null}" th:classappend="${page == 'following'}?active">
                    <a href="/following">Following <span th:if="${page == 'following'}" class="sr-only">(current)</span></a>
                </li>
                <li th:if="${user != null}" th:classappend="${page == 'new'}?active">
                    <a href="/ama/new">Submit an AMA <span th:if="${page == 'new'}" class="sr-only">(current)</span></a>
                </li>
            </ul>

            <!-- Right menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <span th:if="${user != null}" th:remove="tag">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Hello,
                            <span th:text="${user.email}" th:remove="tag"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/view(id=${user.id})}">My Profile</a></li>
                            <li><a href="/preferences">Preferences</a></li>
                            <li><a data-th-method="post" href="/logout">Log Out</a></li>
                        </ul>
                    </span>
                    <a th:if="${user == null}" href="/login">Log In With Google</a>
                </li>
            </ul>

            <form action="/ama/search" method="get" class="navbar-form navbar-right form-inline" role="search">
                <div class="form-group">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Search" />
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <div class="container-fluid nav-bottom ">
        <h3 class="navbar-text" th:text="${title}"></h3>
    </div>
</nav>

<div class="container">
    <div th:replace="${view} :: content">
        Content
    </div>

    <div class="footer text-right">
        <small>Copyright Adam Batson, Richard Carson, Max DeMelo, 2017</small>
    </div>
</div>

<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/ama.js"></script>
</body>
</html>