<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container" th:fragment="content">
    <span th:if="${user != null and user.id != target.id}">
        <a th:if="${user.isFollowing(target)}" class="btn btn-xs btn-danger" th:href="@{/user/unfollow(id=${target.id})}">Unfollow</a>
        <a th:unless="${user.isFollowing(target)}" class="btn btn-xs btn-success" th:href="@{/user/follow(id=${target.id})}">Follow</a>
    </span>
    <h3>AMA's by this User
        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" id="JumpAMA"
           aria-expanded="false">
            Jump To Comments
        </a>
    </h3>
    <span th:each="ama : ${posts}" th:remove="tag">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-xs-1 vote-right">
                    <div class="row vcenter">
                        <div class="col-md-6">
                            <p class="votep">
                                <a class="btn btn-xs" th:attr="data-id=${ama.id}" th:id="${'postup'+ama.id}" onclick="vote('/ama/up', 'post', this)"
                                   th:classappend="${ama.hasUpVoted(user)}?'active btn-success':'btn-default'">
                                    <span class="text-success glyphicon glyphicon-triangle-top"></span>
                                </a>
                            </p>
                            <p class="votep">
                                <a class="btn btn-xs" th:attr="data-id=${ama.id}" th:id="${'postdn'+ama.id}" onclick="vote('/ama/down', 'post', this)"
                                   th:classappend="${ama.hasDownVoted(user)}?'active btn-danger':'btn-default'">
                                    <span class="text-danger glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6" th:id="${'postcount'+ama.id}">
                            <h4 th:if="${ama.votes &lt; 0}" class="text-danger" th:text="${ama.votes}"></h4>
                            <h4 th:if="${ama.votes == 0}" th:text="${ama.votes}"></h4>
                            <h4  th:if="${ama.votes &gt; 0}" class="text-success" th:text="${ama.votes}"></h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-11">
                    <a th:href="@{/ama/view(id=${ama.id})}">
                     <h3 th:text="${ama.title}"></h3>
                    </a>
                    <small th:each="tag : ${ama.getTags()}">
                        <a class="text-muted" href="#" th:text="${'#'+tag}"></a>
                    </small>
                </div>
            </div>
            <div class="panel-footer">
                <small class="text-muted">Submitted <span th:text="${ama.getFormattedCreated()}" th:remove="tag"></span> by
                    <span th:replace="fragments/user :: user(${ama.poster})"></span>
                    <span th:replace="fragments/user :: follow(${ama.poster})"></span>
                </small>
            </div>
        </div>
    </span>
    <h3>Comments by this User
        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" id="JumpComment"
           aria-expanded="false">
            Jump To AMA's
        </a>
    </h3>
    <span th:each="comment : ${comments}" th:remove="tag">
            <span th:replace="fragments/userpagecomment :: comment(${comment}, ${comment.post})"></span>
    </span>
</div>
</body>
</html>