<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container" th:fragment="content">
    <h3 th:if="${amas.size() == 0}" class="text-center text-muted">Nothing to display</h3>
    <span th:each="ama : ${amas}" th:remove="tag">
        <div class="panel panel-default">
            <div class="panel-body">
                <a th:href="@{/ama/view(id=${ama.id})}">
                 <h3 th:text="${ama.title}"></h3>
                </a>
                <small th:each="tag : ${ama.getTags()}">
                    <a class="text-muted" href="#" th:text="${'#'+tag}"></a>
                </small>
            </div>
            <div class="panel-footer">
                <small class="text-muted">Submitted <span th:text="${ama.getFormattedCreated()}" th:remove="tag"></span> by
                    <span th:replace="fragments/user :: user(${ama.poster})"></span>
                    <span th:replace="fragments/user :: follow(${ama.poster})"></span>
                </small>
            </div>
        </div>
    </span>
</div>
</body>
</html>