<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit an AMA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <a href="/ama/index">View AMAs</a> | <a>Submit AMAs</a> | <a href="#">My AMAs</a>

    <h2>Submit an AMA</h2>
    <form action="ama/new" method="post">
        <p>
            <label for="username">Username</label><br/>
            <input type="text" id="username" name="username" />
        </p>

        <p>
            <label for="title">Title</label><br/>
            <input type="text" id="title" name="title" />
        </p>

        <p>
            <label for="title">Description</label><br/>
            <textarea id="title" name="title"></textarea>
        </p>

        <p>
            <label for="tags">Comma separated tags</label><br/>
            <input type="text" id="tags" name="tags" />
        </p>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>