<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container" th:fragment="content">
    <div>
        <h3 th:text="${ama.title}"></h3>
        <p th:text="${ama.description}"></p>
        <small class="text-muted">Submitted ### by
            <a th:href="@{/user/view(id=${ama.poster.id})}"><span th:text="${ama.poster.userName}" th:remove="tag"></span></a>
        </small>
        <p><small class="text-muted">
                    <span th:each="tag : ${ama.getTags()}" th:remove="tag">
                        <a href="#"><span th:text="${tag}" th:remove="tag"></span></a>
                    </span>
        </small></p>
    </div>
</div>
</body>
</html>