<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container" th:fragment="content">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${ama.title}"></h3>
                <small th:each="tag : ${ama.getTags()}">
                    <a class="text-muted" href="#" th:text="${'#'+tag}"></a>
                </small>
            </div>
            <div class="panel-body" th:if="${ama.description.length() > 0}" th:utext="${ama.description}"></div>
            <div class="panel-footer">
                <small class="text-muted">Submitted <span th:text="${ama.getFormattedCreated()}" th:remove="tag"></span> by
                    <span th:replace="fragments/user :: user(${ama.poster})"></span>
                    <span th:replace="fragments/user :: follow(${user}, ${ama.poster})"></span>
                </small>
            </div>
        </div>

        <form action="/comment/new" method="post">
            <input type="hidden" name="postID" th:value="${ama.id}" />
            <div class="form-group">
                <textarea class="form-control" id="content" name="content" placeholder="Content" />
            </div>
            <button type="submit" class="btn btn-default">Comment</button>
        </form>

        <h3>Comments</h3>
        <span th:each="comment : ${comments}" th:remove="tag">
            <span th:replace="fragments/comment :: comment(${comment}, ${ama})"></span>
        </span>
    </div>
</div>
</body>
</html>